{% extends 'header_footer.html' %}
{% load static %}
{% block content %}
	<div class="content">
		<div class="block1">
			<div class="logo">
				<span style="font-weight: 900;">BP</span>-SIMULATOR
			</div>
			<div style="flex-grow: 11;"></div>
			<div class="search">
                <div style="display: inline-block; position: relative"><input type="text" name="search" placeholder="Search..">
				<img src="{% static 'image/searchicon.png' %}" style="position: absolute; right: 7px; top: 5px;" onclick="console.log('Searching')";></div>
			</div>
		</div>
		<div class="block2">
			<div class="welcome-message">
				<div class="welcome">
					<span style="font-weight: 900;">Welcome</span> to bp-simulator
				</div>
				
			</div>
		</div>

		<div class="block4">
			<div class="container">
				<div class="column">
					<p>
						INFORMATION
					</p>
					<p>
						Customer service
					</p>
					<p>
						Privacy & cookies
					</p>
					<p>
						Site map
					</p>
				</div>
				<div class="column">
					<p>
						Your account
					</p>
					<p class="blue-text">
						Sign in
					</p>
					<p>
						Tell us about business
					</p>
					<p>
						Bla bla bla
					</p>
				</div>
				<div class="column">
					<p>CONTACT DETAILS</p>
					<p>
						Head Office: Business Centre  “NEKRASOVA”, Nekrasova, 9, Kzn 
					</p>
					<p>
						Telephone: 8 (843) 516-96-96
					</p>
					<p>
						Email: bars@bars-open.ru
					</p>
				</div>
				<div class="column" style="max-width: 266px"><img style="margin-top: 14px" src="{% static 'image/itis.png' %}"> </div>
				<div style="margin: 40px 0">
					<div class="banner-container">
                        <div class="winner">
                            <div>
                                <div style="font-weight: 900;">Winner</div>
                                <div>The best product 2017</div>
                            </div>
                        </div>
                    </div>
                    <div class="banner-container">
                        <div class="social">
                            <div class="social-text">
                                <a href="">&#xe041</a>
                                <a href="">&#xe040</a>
                                <a href="">&#xe057</a>
                                <a href="">&#xe043</a>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}